.custom-datagrid {
  width: 100%;
  border-collapse: collapse; /* Use collapse to merge borders */
  border-spacing: 0;
  overflow: hidden;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.custom-datagrid th,
.custom-datagrid td {
  padding: 10px;
  text-align: left;
}

/* Remove borders between cells */
.custom-datagrid th,
.custom-datagrid td {
  border: none;
}

/* Add border only around the entire table */
.custom-datagrid {
  border: 1px solid rgba(151, 147, 147, 0.1);
  border-radius: 8px;
}

/* Optional: row separation (between rows) */
.custom-datagrid tbody tr {
  border-bottom: 1px solid #d3cbcb;
}

/* Styling for header */
.custom-datagrid th {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* Rounded corners for the table header and last row */
.custom-datagrid thead th:first-child {
  border-top-left-radius: 4px;
}

.custom-datagrid thead th:last-child {
  border-top-right-radius: 4px;
}

.custom-datagrid tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.custom-datagrid tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
